<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexwlchan.alfred-screenshot</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>CD06DE9D-5AF4-41D4-94F7-C61E0D0D033D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C55DB69-DEC5-4394-91DD-48C22AD04BF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Chan</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open recent screenshots</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
tell application "Finder"
	if q is "" then
    		set q to 1
    end if	set screenshotFolder to ("/Users/chrishol/Desktop" as POSIX file)	set screenshots to (get every file of folder screenshotFolder)	set latestScreenshot to item q of reverse of (sort screenshots by creation date)end tell
search (POSIX path of (latestScreenshot as alias))
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>3C55DB69-DEC5-4394-91DD-48C22AD04BF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>screenshot</string>
				<key>text</key>
				<string>Open Recent Screenshot {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD06DE9D-5AF4-41D4-94F7-C61E0D0D033D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A workflow for opening recent screenshots in the Alfred file browser.

Type `screenshot` and press Enter for the most recent screenshot.

Type `screenshot N` and press Enter for the Nth most recent screenshot.

Details at http://alexwlchan.net/2014/08/alfred-screenshots/

—

Configuration:

Set the path to your screenshot folder in the AppleScript.</string>
	<key>uidata</key>
	<dict>
		<key>3C55DB69-DEC5-4394-91DD-48C22AD04BF3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CD06DE9D-5AF4-41D4-94F7-C61E0D0D033D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://alexwlchan.net/2014/08/alfred-screenshots/</string>
</dict>
</plist>
