<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chrishol.terminalssh</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1345EFBF-E96C-41AF-B211-365C7DFD6016</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75244CB0-2642-435A-9017-E0EAB246B916</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD9C47E-B5FB-4397-B334-25D7B5A7BA87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>012224CC-9234-43CC-A466-63DA57C4852B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Hollindale</string>
	<key>description</key>
	<string>Open Terminal Profile</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Terminal Profile</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open $HOME/src/dotfiles/terminal-profiles/homeserver.terminal</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>012224CC-9234-43CC-A466-63DA57C4852B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssh1</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>SSH Home Server</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DD9C47E-B5FB-4397-B334-25D7B5A7BA87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open $HOME/src/dotfiles/terminal-profiles/ethhub.terminal</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75244CB0-2642-435A-9017-E0EAB246B916</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssh2</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>SSH Eth Hub</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1345EFBF-E96C-41AF-B211-365C7DFD6016</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>012224CC-9234-43CC-A466-63DA57C4852B</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>1345EFBF-E96C-41AF-B211-365C7DFD6016</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>75244CB0-2642-435A-9017-E0EAB246B916</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>7DD9C47E-B5FB-4397-B334-25D7B5A7BA87</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>chrishol.com</string>
</dict>
</plist>
